*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.section{
	width: 100%;
	margin-bottom: 202px;
	position: relative;
}
.container{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.profile{
	width:100%;
	height: 240px;
}
.profile .title{
	width: 180px;
	height: 80px;
	margin-top: 130px;
	text-align: center;
	margin: auto;
}
.profile .title h5{
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
}
.profile .title span{
	font-size: 12px;
	font-weight: lighter;
	margin-left: 5px;
}
.profile .title .dashline{
	width: 78px;
	height: 1px;
	border: 1px dashed #666;
	box-sizing: border-box;
	float: left;
	margin-left: 10px;
}
.profile .title .dot{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #666;
	float: left;
	margin: -1px 50px 0px 4px;
}
.profile .title .dis{
	width: 100%;
	height: 32px;
}
.profile .title .dis ul{
	width: 100%;
}
.profile .title .dis ul li{
	width: 25%;
	height: 14px;
	float: left;
	width: 45px;
	border-right: 1px solid #333;
	box-sizing: border-box;
	margin-top:10px;
	position: relative;
}
.profile .title .dis ul li span{
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	font-size: 22px; 
	top: -10px;
}
.profile .pro-list{
	width: 100%;
	float: left;
}
.profile .pro-list li{
	width: 282px;
	height: 458px;
	margin-right: 24px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	color: #8A8A8A;
	background: #F4F4F4;
}
.profile .pro-list li:last-child{
	margin-right: 0;
}
.profile .pro-list li img{
	width: 100%;
}
.profile .pro-list li h2{
	height: 62px;
	line-height: 62px;
	font-size: 34px;
}
.profile .pro-list li h4{
	font-size: 20px;
}
.profile .pro-list li span{
	display: block;
	margin: 0 auto;
	width: 226px;
	font-size: 16px;
}
.big{
	width:100%;
	height: 1100px;
	overflow: hidden;
}
.big .sec1{
	height: 382px;
	background-image: url(../images/index/tupian-1.jpg);
	position: relative;
	text-align: center;
	color: #fff;
	width: 100%;
	padding-top: 225px;
}
.sec1 .text{
	width: 334px;
	height: 80px;
	margin: 0 auto 80px;
}
.sec1 .text h1{
	display: inline-block;
	font-size: 30px;
}
.sec1 .text span{
	font-size: 24px;
}
.sec1 .text p{
	font-size: 12px;
}
.sec1 .lun{
	width: 927px;
	height: 620px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 24px;
}
.sec1 .lun .world{
	width: 251px;
	margin-right: 52px;
	box-shadow: 20px 20px 30px  rgba(0, 0, 0, 0.3);
	z-index: 3;
}
.sec1 .lun .world:last-child{
	margin-right: 0;
}
.sec1 .lun .world .con{
	width: 100%;
	height: 196px;
	padding-top: 50px;
	text-align: center;
	background:#FF3795;
}
.sec1 .lun .world .con h3{
	font-size: 18px;
	margin-bottom: 10px;
}
.sec1 .lun .world .con .cont{
	font-size:12px;
	width: 200px;
	margin: auto;
	line-height: 1.5;
	font-weight: lighter;
	margin-bottom: 50px;
}
.sec1 .lun .world .con .date{
	font-size: 12px;
	text-align:right;
	width: 200px;
	margin: 0 auto;
}
.sec1 .lun .world .cctv{
	width: 100%;
	height: 225px;
	background:#fff;
}
.sec1 .lun .world .cctv img{
	margin-top: 80px;
	width: 100%;
}
.sec1 .lun .btn{
	text-align:left;
	padding-left: 20px;
	width:231px;
	z-index: -1;
}
.sec1 .lun .btn a{
	display: block;
	text-decoration: none;
	color: #fff;
	line-height: 34px;
	background: #FDDA36;
	border-radius: 8px;
	width: 103px;
	font-size: 16px;
	text-align: center;
}
.sec1 .wula{
	text-align: center;
	width: 100%;
	color: #333;
	font-size: 12px;
}
.sec1 .wula p{
	color: #999;
}
.section .back{
	width: 88%;
	position: absolute;
	top: 0;
	left:0;
}
.section .back .white{
	height: 240px;
}
.section .back .purple{
	height: 445px;
	background: #FF3795;
}
.section .back .purple img{
	position: absolute;
	top: 82px;
	left: 150px;
}
.section .front{
	position: absolute;
	top: 400px;
	right: 0;
	width: 80%;
}
.section .front .left{
	width: 749px;
	height: 630px;
	float: left;
}
.section .front .left .girl{
	height: 500px;
}
.section .front .left .want{
	width: 100%;
	height: 81px;
	padding-top: 34px;
}
.section .front .left .want a{
	display: block;
	width: 160px;
	height: 40px;
	line-height:40px;
	background:#FFDC36;
	color:#333;
	
	text-align: center;
	text-decoration: none;
}
.section .front .middle{
	height: 630px;
	width: 539px;
	background: #fff;
	float: left;
}
.section .front .middle .con{
	height: 276px;
	padding-top: 24px;
}
.section .front .middle .con p{
	display: block;
	width: 360px;
	margin-left: 60px;
	font-size: 18px;
	color: #E61F7F;
}
.section .front .middle .con h2{
	display: block;
	width: 360px;
	font-size: 30px;
	color: #E61F7F;
	margin-left: 60px;
}
.section .front .middle .con .text{
	display: block;
	width: 360px;
	font-size：14px;
	margin-left: 60px;
	color: #999;
}
.section .front .middle .hand{
	height: 330px;
	background-image: url(../images/index/renwu-3.jpg)
}
.section .front .blank{
	float:left;
	height: 404px;
	width: 222px;
	padding-top: 226px;
}
.section .front .blank .pink{
	height: 185px;
	width: 100%;
	background: #FF3795;
}