
.wx-contact{
	width: 1200px;
	margin:auto;
}
.wx-contact .wrap{
	width: 1000px;
	margin:auto;
}
.wx-contact .wrap form{
	width:100%;
}
.wx-contact .wrap form{
	width:100%;
}
.wx-contact .wrap form .inbox{
	width:100%;
	height: 46px;
	margin-bottom: 25px;
}
.wx-contact .wrap form .inbox .left{
	width:48%;
	height: 100%;
	float:left;
}
.wx-contact .wrap form .inbox .left input{
	width:100%;
	height: 100%;
	float:left;
	border: 2px solid #FFC9E3;
	outline: 0;
	padding-left: 20px;
	box-sizing: border-box;
}
.wx-contact .wrap form .inbox .right{
	width:48%;
	height: 46px;
	float: right;
}
.wx-contact .wrap form .inbox .right input{
	width:100%;
	height: 100%;
	float: right;
	border: 2px solid #FFC9E3;
	outline: 0;
	padding-left: 20px;
	box-sizing: border-box;
}
.wx-contact .wrap form .text{
	width:100%;
	height: 100%;
	display: block;
	border: 2px solid #FFC9E3;
	outline: 0;
	margin-bottom: 25px;
	padding-left: 20px;
	padding-top: 20px;
	box-sizing: border-box;
}
.wx-contact .wrap form input[type="submit"]{
	width:100%;
	height: 100%;
	display: block;
	border: 2px solid #FFC9E3;
	outline: 0;
	margin-bottom: 80px;
	padding:20px 0;
	background-color: #fff;
	box-sizing: border-box;
}
.wx-contact .wrap form .word{
	width:100%;
	height: 100%;
	display: block;
	text-align: center;
	margin-bottom: 40px;	
}
.wx-contact .wrap .photo{
	width:100%;
	height: 100%;
	text-align: center;
	position: relative;
}
.wx-contact .wrap .photo img{
	width:100%;
	height: 100%;
}
.wx-contact .wrap .photo .mask{
	position:absolute;
	top:0;
	left:0;
	background-color:rgba(0, 0, 0, 0.3);
	width:100%;
	height: 100%;
}
.wx-contact .wrap .photo .message{
	position:absolute;
	right:310px;
	bottom: 250px;
	background-color:#FAA727;
	width:200px;
	height: 40px;
	border-radius: 20px;
	text-align:center;
	line-height: 40px;
	color:#fff;
}
.wx-contact .wrap .title{	
	width:100%;
	color:#FF3795;
	font-size: 20px;
	margin-top: 30px;
	font-family:"微软雅黑";
	margin-bottom:80px;
}
.wx-contact .wrap .title .words{
	overflow: hidden;
	margin-top:5px;
	font-size: 18px;
	font-family:"微软雅黑";
}
.wx-contact .wrap .title .words .line{	
	width:75%;
	height:2px;
	background-color:#FF3795;
	margin:5px 0;
	float:left;
}
.wx-contact .wrap .title .words span{	
	width:25%;
	display:block;
	float:left;
}
.wx-contact .wrap .title .little .dot{	
	width: 6px;
    height: 6px;
    margin-top: 9px;
    background: #EB328B;
    border-radius: 50%;
    float: left;
    margin-left: 5px;
}
.wx-contact .wrap .title .little .wenzi{	
	font-size: 12px;
    color: #6CC7C3;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 2px;
}

.wx-contact .nav{
	width:100%;
	margin-top:40px;
	margin-bottom:50px;
	font-size:0;
}
.wx-contact .nav a{
	font-size:12px;
	color:#999;
}
.wx-contact .nav .word{
	font-size:13px;
	border-bottom:2px solid #000;
	margin-right: 5px;
}
.wx-contact .nav span{
	font-size:13px;
	margin:0 10px;
}
.wx-contact .nav .con{
	color:#FF3795;
	font-weight: bold;
	font-size: 14px;
	font-family:"微软雅黑";
}